/*************************************************************
 * default.css
 * 
 * Stylesheet for all front end.
 * 
 * Author: Yan Chen
 * Last Modified: Yan Chen - August 20th, 2013
 *
 * © Copyright 2013 Yan Chen
 * For questions about this file and permission to use
 * the code, contact me at yanchen@seas.harvard.edu
 *************************************************************/
body
{
background-color:#FFFFFF;
}


p.large{
	font-size:20px;
}
p.small{
	font-size:15px;
}
p#displayName{
	display:none;
}


h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:16px;
}

#im
{
	margin-top: 30px;
	margin-left: 200px;
}


div.img
{
	margin-top: 10px;
	margin-left: 30px;
  border: 0px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;

	margin-left: 5px;
  border: 0px solid #fffffe;
}
div.img a:hover img {border: 0px solid #0000ff;}

div.input
{
	text-align: left;
	margin-top:5px;
	margin-left:5px;
    border: 1px solid black;
    width: 150px;
    height: 18px;
   
    font-size: 16px;
	border-width:1px;
	
}

h1, h2, h3, h4, h4, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	color: #333;
}

.wrapper {
	height: 130px;
}

.holder
{
	width: 12px;
	height: 120px;
	float: left;
	margin-right: 1px;
}

table
{
	margin-left: 60px;
	

	margin-right: 30px;
}

p#preview
{
	float:center;
}
#or
{
	text-align:left;
	margin-right: 30px;
	margin-left:30px;
}


#block
{
	width:800px;
	height:140px;
	padding:5px;
	border:5px solid orange;
	margin-top: 30px;
	margin-left: 200px;

	border-width:5px;
	border-radius: 15px;

}

#block2
{
	width:500px;
	height:380px;
	padding:5px;
	border:5px solid orange;
	margin-top: 50px;
	margin-left: 30px;
	border-width:5px;
	border-radius: 15px;
	float:center;
}


.imagesize
{
	height:120px;
	width:200px;
}
.hover
{
	border:1px solid #000;
}

.bigbutton
{
	width: 100px;
	height: 40px;
}

#inside
{
	width:1100px;
	height:150px;
	padding:5px;
	border:1px solid orange;
	margin-top: 50px;
	margin-left: 80px;
	margin-bottom: 20px;
	border-width:2px;
	border-radius: 10px;
}
.imagecenter
{
	float:center;
}
#center
{
	margin-top:50px;
	text-align:center;

	color:gray;
}
#left
{
	text-align: left;
	margin-bottom: 5px;
}


#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

 #map-canvas, #map_canvas {
    height: 700px;
  }
}

#panel {
  position: absolute;
  top: 123px;
  left: 105%;
  margin-left: -180px;
  z-index: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

 
#thumbnails img
{
 	width:300px;
 	height:120px;
}